body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    background: #020031;
    color: #fff;
    background: linear-gradient(to right, #020031 0%, #6d3353 100%);
}

header {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    margin-left: 200px;
    padding: 20px;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px 0;
}